*{box-sizing: border-box;}

body{
    margin: 0;
  height: 100%;

}




.hintegrund{height: 700px;
    position: relative;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.arkaplan{background-color: black;
    width: 100%;
    height: 100%;
    opacity: 50%;
    position: absolute;
  
    
}

#bild3, #bild2{display: none;}
h1{position: absolute;
font-size: 36px;
color: white;

}
#bild1{background-image: url("bild1.jpg");}
#bild2{background-image: url("bild2.jpg");}
#bild3{background-image: url("bild3.jpg");}
#bild1,#bild2,#bild3{

width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background-position: center;
background-size: cover;
transition: display 1s;



}
button{padding: 10px 14px;
    border-radius: 10px;
position: absolute;
top: 350px;
background-color: rgb(177, 169, 169);
border: none;
outline: none;
cursor: pointer;
}

button:hover{
    background-color: rgb(131, 122, 122);}

#zuruck{right: 30px;}

#next{left: 30px;}
i{font-size: 20px;
color: white;}

#yazi1,#yazi2{display: none;}